$primary-color: #333
$lavender: #b583d7
$dark-lavender: #8b3dbf
$grey: #4a5459
body
    margin-left: 20px
    font-family: "Verdana"

.Deck
    color: $grey
    padding: 4px
    margin-top: 14px
    width: 25%
    border: solid 2px $lavender
    border-left: solid thick $dark-lavender
