@import colors
@import ui

.deck-list
    margin-left: 7px
    width: 300px
    height: 612px
    float: left
    $dl-border: solid 3px $dark-blue
    border-left: $dl-border
    border-right: $dl-border


.Deck
    width: 230px
    height: 75px
    color: $grey
    padding: 4px
    margin-left: auto
    margin-right: auto
    margin-top: 14px
    border: solid 2px $light-blue
    border-left: solid thick $dark-blue


.deck-upper
    height: 30px
    width: 230px

.deck-lower
    height: 50px
    width: 230px

.deck-info
    margin-left: 20px
    margin-right: auto

.deck-name
    margin-top: 0px
    font-weight: bold

.deck-language
    margin-top: 8px
    font-style: italic

.deck-card_count
    margin-top: 8px
    font-size: 12px

.deck-edit-button
    @extend .highlight-button
    @extend .no_outline
    margin-top: 3px
    background-color: white
    border: none
    float: right

.deck-delete
    float: right


.deck-delete-button
    @extend .no_outline
    margin-top: 15px
    float: right
    background-color: white
    border: none
    svg
        width: 20px
    path
        fill: $ghost-grey

.deck-delete-button:hover
    svg
        path
            fill: $del-red
